config.json
path.txt
node_modules
logs
package-lock.json
session.data.json
test.js
configdata/dataDesc.json
configdata/dataLevel.json
media/images/imgSt.jpg
media/images/imgSt.png
media/images/imgRs.png
media/gifs/stickergif.mp4
media/audio/tts.mp3
media/gifs/togif.gif